<%= link_to "List all", items_path %>	  

<%= link_to "Tag Report", '/tags/tag_report' %>

<%= link_to "Maintain Act Types", act_types_path %>

<% if user_signed_in? %>
  <span id="hello_user">
    Hello, User # <%= current_user.id %>
  </span>  
<% end %>

<%= link_to "Send an Invitation", new_user_invitation_path %>

<%= link_to "Print-friendly", '/items/printview' %>