<table>    
  <tr>
    <td><label for="item_create_date">Create date</label></td>
    <td>
      <%= select_month(@item.create_date.month, :prefix => 'create_date') %>
  	  <%= select_day(@item.create_date.day, :prefix => 'create_date') %>
  	  <%= select_year(@item.create_date.year, :prefix => 'create_date') %>
    </td>
  </tr>
  <tr>
    <td><label>Item Number:</label></td>
    <td><%= text_field 'item', 'number' %></td> 
  </tr>
  <tr>
    <td valign="top"><label>Type:</label></td>
    <td>
      <%= select("item", "act_type", current_user.act_types.collect {|a| [a.name, a.name]}, :selected => selection) %>
      &nbsp;
      <label>When done, Value (<u>to me</u>):</label>
      <%=
        options = Item::VALUES_WHENDONE
        select("item", "value_when_done", options )
      %>  
      <br>
    </td>
    </tr>
  <tr>
    <td></td>
    <td><br><%= submit_tag 'Save' %></td>
  </tr>
</table>
<br>