<h1>Editing item</h1>

<%= form_for @item, :url => "/items/#{@item.number}" do |f|%>

  <%= render(:partial => "form_top", :locals => {:selection => @item.act_type})%>
  <label>Item Contents:</label><br>
  <%= text_area "item", "item_desc", "cols" => 80 %><br><br>

  <%= render(:partial => "form_bottom")%>
<% end %> 
<br/>

<%= link_to 'Show', "/items/#{@item.number}" %> |
<%= link_to 'Back', items_path %>
