<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>mydothis.com</title>
  <%= stylesheet_link_tag "application", :media => "screen" %>
  <%= stylesheet_link_tag "application-print", :media => "print" %>
  <%= yield :stylesheet %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <p style="color: green"><%= flash[:notice] %></p>  
 
  <p class="alert"><%= alert %></p>
  <div id="top_menu">
    <%= render :partial => "shared/menu"  %>
    <%= render 'devise/menu/login_items' %>
  </div>
  
  <div id="feedback-lightbox" title="Give feedback or get support">
    <label>Message subject:</label>
    <input id="lb-subject" type="text"/>
    <label>Your question, suggestion, or request:</label>
    <textarea id="lb-question"></textarea>
    <label>Your email address:</label>
    <input id="lb-email" type="text"/>   
  </div>

  <div id="feedback">
    <%= image_tag "feedback.png" %>
  </div>

<%= yield %>

</body>
</html>